In [34]:
#dependencies
import numpy as np
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
df = pd.read_csv("data.csv")
df = df.drop(["index","price","sq_price"],1)
df = df[0:10]
df

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [36]:
df.loc[:,("y1")] = [1, 1, 1, 0, 0, 1, 0, 1, 1, 1]
df.loc[:,("y2")] = (df["y1"] == 0).astype(int)
df

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [37]:
input_X = df.loc[:,['area','bathrooms']].as_matrix()
input_y = df.loc[:,["y1","y2"]].as_matrix()

In [38]:
input_X

array([[  2.10400000e+03,   3.00000000e+00],
       [  1.60000000e+03,   3.00000000e+00],
       [  2.40000000e+03,   3.00000000e+00],
       [  1.41600000e+03,   2.00000000e+00],
       [  3.00000000e+03,   4.00000000e+00],
       [  1.98500000e+03,   4.00000000e+00],
       [  1.53400000e+03,   3.00000000e+00],
       [  1.42700000e+03,   3.00000000e+00],
       [  1.38000000e+03,   3.00000000e+00],
       [  1.49400000e+03,   3.00000000e+00]])

In [39]:
input_y

array([[1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0]], dtype=int64)

In [40]:
#hyperparameters
learning_rate = 0.0001
training_epochs = 2000
display_step = 100
n_samples = input_y.size

In [49]:
#tensorflow operations
X = tf.placeholder(tf.float32, [None,2])
y_ = tf.placeholder(tf.float32, [None,2])

W = tf.Variable(tf.zeros([2,2]))
b = tf.Variable(tf.zeros([2]))
y_values = tf.add(tf.matmul(X,W),b)
y = tf.nn.softmax(y_values)

In [50]:
cost = tf.reduce_sum(tf.pow(y - y_,2))/(2*n_samples)
optimizer = tf.train.AdamOptimizer(learning_rate).minimize(cost)

In [51]:
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)

In [52]:
for i in range(training_epochs):
    sess.run(optimizer, feed_dict = {X: input_X, y_: input_y})
    
    if i%display_step == 0:
        cc = sess.run(cost, feed_dict={X: input_X, y_:input_y})
        print("Training step:", '%04d' % (i), "cost=", "{:.9f}".format(cc))
print("optimization finished!")
training_cost = sess.run(cost, feed_dict =  {X: input_X, y_: input_y})
print("training_cost = ", training_cost, "W = ",  sess.run(W), "b =",  sess.run(b))
sess.close()

Training step: 0000 cost= 0.113350153
Training step: 0100 cost= 0.109167621
Training step: 0200 cost= 0.108665325
Training step: 0300 cost= 0.108128026
Training step: 0400 cost= 0.107578076
Training step: 0500 cost= 0.107025184
Training step: 0600 cost= 0.106474712
Training step: 0700 cost= 0.105930053
Training step: 0800 cost= 0.105393626
Training step: 0900 cost= 0.104867138
Training step: 1000 cost= 0.104351901
Training step: 1100 cost= 0.103848912
Training step: 1200 cost= 0.103358909
Training step: 1300 cost= 0.102882490
Training step: 1400 cost= 0.102420069
Training step: 1500 cost= 0.101971962
Training step: 1600 cost= 0.101538301
Training step: 1700 cost= 0.101119243
Training step: 1800 cost= 0.100714803
Training step: 1900 cost= 0.100324914
optimization finished!
training_cost =  0.0999532 W =  [[-0.00019219  0.00019219]
 [ 0.17600018 -0.17600019]] b = [ 0.17055468 -0.1705547 ]